#### PYTHON PRACTICE QUESTION

#### 1.STRING (05QUE)

#### 1.Check if a given string is palindrome

In [16]:
s = input("enter a  string: ")
s = s.lower()
rev = s[::-1]
if s ==rev:
    print("this string is palindrome.")
else: 
    print("this string is not palindrome.")

enter a  string:  level

this string is palindrome.

#### 2. Count the number of vowels in a string and store the result in a dictionary.

In [24]:
s = "piyush"  
vowels = "aeiou" 
count ={v:s.count(v) for v in vowels}
print (count)

{'a': 0, 'e': 0, 'i': 1, 'o': 0, 'u': 1}

#### 3. Convert the first letter of each word in a string to uppercase (title case manually).

In [25]:
w = input("Sentence:").uppercase()
print(w)

Sentence: hello world python

Hello World Python

#### 4. Find the most frequently occurring character in a string.

In [31]:
v1 = "level"
freq = {ch:s.count(ch)for ch in v1}
print(max(freq,key = freq.get))

l

#### 5. Count digits, alphabets, and special characters separately in a string.

In [35]:
v  = input("Enter a string: ")

alphabets = 0
digits = 0
special = 0

for ch in v:
    if ch.isalpha():
        alphabets += 1
    elif ch.isdigit():
        digits += 1
    else:
        special +=1

print("Alphabets:", alphabets)
print("Digits:", digits)
print("Special characters:", special)

Enter a string:  piyushyeole8081@.com

Alphabets: 14
Digits: 4
Special characters: 2

#### 2.LIST (05QUE)

#### 6. Remove duplicate elements from a list without using set().

In [37]:
list = [1,2,2,3,3,3,4,4,4,5,5,6,7,8,8]
my_list=[]
for i in list:
    if i not in my_list:
        my_list.append(i)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

#### 7. Reverse a list without using built-in functions.

In [42]:
list =[0,1,2,3,4,5,6,7,8,9]
list = list[::-1]
print(list)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

#### 8. Find the 2nd largest and 2nd smallest element in a list.

In [50]:
numbers =[22,34,65,78,99,12,55]
second_smallest = numbers [1]
second_largest = numbers [-2]

print("2nd smallest:", second_smallest ,"2nd largest:", second_largest)

2nd smallest: 34 2nd largest: 12

#### 9. Store the square of each element of a list into a new list (using list comprehension).

In [53]:
numbers = [1,2,3,4,5] 
[i**2 for i in numbers]

[1, 4, 9, 16, 25]

#### 10. Flatten a nested list into a single list.

In [54]:
nested_list = [[1,2],[3,4],[5,6]]
[x for sub in nested_list for x in sub]

[1, 2, 3, 4, 5, 6]

### 3.TUPLE (05QUE)

#### 11. Reverse a tuple without using [::-1].

In [60]:
t =(1,2,3,4,5) #1st way
reversed_tuple = tuple(reversed(t))
print(reversed_tuple)

(5, 4, 3, 2, 1)

In [66]:
t1 = [1,4,55,6,777] #2nd way
t1.reverse()

In [67]:
t1

[777, 6, 55, 4, 1]

#### 12. Extract unique elements from a tuple and store them in a new list.

In [80]:
t2 = (1,2,3,3,1,2,4,6,7,8)
unique = []
for i in t2:
    if i not in unique:
        unique.append(i)
        
print("original tuple:",t2  ,"unique element list:", unique)

original tuple: (1, 2, 3, 3, 1, 2, 4, 6, 7, 8) unique element list: [1, 2, 3, 4, 6, 7, 8]

#### 13. Concatenate two tuples and sort them.

In [81]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1 + t2
sorted_tuple = tuple(sorted(t3))
print(sorted_tuple)

(1, 2, 3, 4, 5, 6)

#### 14. Count the frequency of an element in a tuple without using count().

In [90]:
t = (1,2,3,4,5,6,4,7,2,9)
element = 2
freq = 0

for i in t:
    if i == element:
        freq += 1
print ("frequency element",freq)

frequency element 2

In [1]:
t = (1,2,3,4,5,6)  #2nd way
elem = 2
count=sum(1 for x in t if x==elem)
print(count)

1

#### 15. From a tuple of numbers, create two tuples: one with even numbers and one with odd numbers

In [103]:
t = (5, 10, 15, 20, 25, 28, 30, 40, 45)

even_list =[]
odd_list =[]

for num in t:
    if num % 2 ==0:
        even_list.append(num)
    else:
        odd_list.append(num) 

print("even number tuple", even_list)
print("odd number tuple", odd_list)

even number tuple [10, 20, 28, 30, 40]
odd number tuple [5, 15, 25, 45]

In [2]:
t = (5, 10, 15, 20, 25, 28, 30, 40, 45)  # 2nd Way


even =tuple(i for i in t if i%2== 0)
odd = tuple(i for i in t if i%4== 0)
print(even)
print(odd)

(10, 20, 28, 30, 40)
(20, 28, 40)

### 4.SET  (05QUE)

#### 16. Perform union, intersection, and difference of two sets without using built-in operators.

In [3]:
# union
A = {1, 2, 3}
B = {3, 4, 5}

set = A|B
print("Union:", set)

Union: {1, 2, 3, 4, 5}

In [13]:
# intersection
A = {1,2,3,4}
B = {3,4,5,6}
intersection_set = A & B
print("Intersection:",intersection_set , A & B)

Intersection: {3, 4} {3, 4}

In [7]:
# Differnce
A = {1, 2, 3}
B = {3, 4, 5}

differnce_set = A - B
differnce_set = B - A
print("differnce",differnce_set, A - B)
print("differnce",differnce_set, B - A )

differnce {4, 5} {1, 2}
differnce {4, 5} {4, 5}

#### 17. Remove a random element from a set (without using pop()).

In [17]:
import random 
A = {10,20,30,40,50}

A_list = list(A)  #set convert to list
random_element = random.choice(A_list)
A.remove(random_element)
print("random_element removed:",random_element)
print("updated set:",A)

random_element removed: 50
updated set: {20, 40, 10, 30}

In [4]:
s = {1,2,3,4,5}
s.remove(3)

In [6]:
s

{1, 2, 4, 5}

#### 18.Convert a list into a set and check if duplicates are removed.

In [10]:
list = [10,30,40,20,40,20]

#Covert list into set:
unique_set = set(list)  
print("Original list:",list)
print("Coverted Set:" ,unique_set)

Original list: [10, 30, 40, 20, 40, 20]
Coverted Set: {40, 10, 20, 30}

#### 19. Check if two sets are disjoint.

In [38]:
a = {1 ,2, 3}
b= {5, 6 ,7}
a.isdisjoint(b)

True

#### 20. Find the sum of all elements in a set.

In [39]:
s1 = {1567,345,45,67,99}
sum(s1)

2123

#### 5. DICTIONARY (05 QUE)

#### 21. Create a dictionary and print keys in ascending order.

In [40]:
d = {3: "apple", 1: "banana", 4: "cherry", 2: "mango"}
# Print dictionary keys in ascending order
for key in sorted(d.keys()):
    print(key)

1
2
3
4

#### 22. Add a new key to a dictionary with value equal to the sum of existing values.

In [45]:
d = {"a": 10, "b": 60, "c": 30}
d_total = sum (d.values())

print(d_total)

100

#### 23. Merge two dictionaries into one.

In [46]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [47]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict2.update(dict1)
print(dict2)

{'c': 3, 'd': 4, 'a': 1, 'b': 2}

#### 24. Find the key with the largest value in a dictionary.

In [13]:
d = {"a":10 , "b":20,"c":30}  # 1nd way
print(max(d,key = d.get))

c

#### 25. Store the frequency of characters of a string in a dictionary.

In [1]:
s = "statements"
frq = {ch: s.count(ch) for ch in set(s)}
print (frq)

{'s': 2, 'm': 1, 'a': 1, 't': 3, 'n': 1, 'e': 2}

#### 6. CONDITIONAL STATEMENTS (05QUE)

#### 26. Take age as input and check if the person is eligible to vote or not.

In [44]:
def Eligibility():
    age = int(input("Enter your age: "))
    if age >= 18:
        print("You are eligible to vote.")
    else:
        print("You are not eligible to vote.")

In [45]:
Eligibility()

Enter your age:  25

You are eligible to vote.

#### 27. Find the largest among three numbers (using nested if).

In [15]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b:
    if a >= c:
        print("Largest number is:", a)
    else:
        print("Largest number is:", c)
else:
    if b >= c:
        print("Largest number is:", b)
    else:
        print("Largest number is:", c)

Enter first number:  56
Enter second number:  48
Enter third number:  79

Largest number is: 79

In [2]:
a ,b, c, = 10, 20, 30

if a >=b:
   print("this condtion is false") 
   if C >= b:
       print ("this condtion is true")
   else:
       print("30 is the largest number")
else:
    print("c is largest all over three variable")

c is largest all over three variable

In [16]:
a ,b, c, = 10, 20, 30
print("largest number is:", max(a,b,c))

largest number is: 30

In [17]:
a ,b, c, = 10, 20, 30
largest = max(a, b, c)   
print("Largest number is:", largest)

Largest number is: 30

#### 28. Check if a given number is prime or not.

In [29]:
n = int(input("enter a number "))
if n <= 1:
    print("Not a prime number")
elif n==2  or n==3:
    print("It is a prime number")
else:
    for i in range(2,n):  
        if n % i == 0 :
            print("Not a prime number")
            break
    else:
        print("It is a prime number")

enter a number  1

Not a prime number

#### 29. Assign grade (A, B, C, Fail) based on marks input.

In [ ]:
def assign_grade():
    marks = int(input("Enter your marks: "))

if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 50:
    print("Grade: C")
else:
    print("Grade: Fail")

In [38]:
assign_grade()

Enter your marks:  85

#### 30. Check if a number is positive, negative, or zero.

In [41]:
def check_number():
    num = int(input("Enter a number: "))
    if num > 0:
        print("The number is Positive.")
    elif num < 0:
        print("The number is Negative.")
    else:
        print("The number is Zero.")

In [43]:
check_number()

Enter a number:  78

The number is Positive.

#### 7. LOOPS - FOR & WHILE (05 QUE)

#### 31. Print the first 10 numbers of the Fibonacci series using for loop.

In [48]:
a,b = 0,1
for i in range(10):
    print(a , end= " ")
    a ,b = b, a+b

0 1 1 2 3 5 8 13 21 34

#### 32. Find the factorial of a number using while loop.

In [2]:
# 1st way
n = 10
fact = 8
while n > 0:
    fact *= n 
    n = -1
print("\nFactorial:",fact)

Factorial: 80

In [12]:
# 2nd way

num = int(input("Enter a number:"))
fact = 1
i = 1
while i <= num:
     fact = fact * i
     i = i + 1
print("factorial of",num, "is" , fact)

Enter a number: 4

factorial of 4 is 24

#### 33.Print all elements of list in reverse order without using reverse()

In [13]:
l1 = [3,6,9,12,15,18,21,24,27,30]
my_list = l1[::-1]
print(my_list)

[30, 27, 24, 21, 18, 15, 12, 9, 6, 3]

#### 35. Print a star pattern (triangle) using nested loops

In [16]:
row = int(input("Enter the num:"))
for i in range(row):
    for j in range (i + 1):
        print("*" ,end = " ")
    print()

Enter the num: 5

*
* *
* * *
* * * *
* * * * *

#### 34. Input a number and find the sum of its digits using while loop.

In [1]:
num = int(input("Enter a number: "))
sum_digits = 0

while num > 0:
    digit = num % 10     
    sum_digits += digit   
    num = num // 10       

print("Sum of digits:", sum_digits)

Enter a number:  1234

Sum of digits: 10

#### 8. FILE HANDALING (5QUE)

#### 36. Write some text into a file and then read and print it.

In [3]:
f =open( "piyush.txt","w")
f.write("Ipython won't let you open fd={file} by default")
f. close()

f= open ("piyush.txt","r")

f.read()

"Ipython won't let you open fd={file} by default"

#### 37. Count the total number of lines in a file.

In [7]:
file = open("piyush.txt", "r")
line = file.readline()
print("Lines:", len(file.readline()))

Lines: 0

#### 38. Count vowels and consonants in a file.

In [9]:
f = open("piyush.txt", "r")
text = f.read().lower()
f.close()

vowels = 0
consonants = 0

for ch in text:
    if ch.isalpha():
        if ch in "aeiou":
            vowels += 1
        else:
            consonants += 1

print("Vowels:", vowels)
print("Consonants:", consonants)

Vowels: 13
Consonants: 23

#### 39. Convert the content of a file into uppercase and store it in another file.

In [15]:
with open("piyush.txt") as f:
    data = f.read().upper()
with open("upper.txt", "w") as f:
    f.write(data)
    f.close()

In [16]:
f = open("upper.txt", "r") 
f.read()

"IPYTHON WON'T LET YOU OPEN FD={FILE} BY DEFAULT"

#### 40. Read a CSV file and print its rows.

In [18]:
import csv 
with open("piyush.txt",newline="") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

["Ipython won't let you open fd={file} by default"]

#### 9. OS MODULE (05 QUE)

In [3]:
import os

#### 41. Print the current working directory using os module.

In [4]:
cwd = os.getcwd()
print(cwd)

C:\Users\HP

#### 42. Create a new floder using os module and create a file inside it

In [9]:

os.mkdir("Myfloder5")
f = open("myfloder5/newfile.txt","w")
f.write("my file is inside myfloder")
f.close()
print("Succesfully create the folder and file")

Succesfully create the folder and file

#### 43. List all files and folders inside a directory.

In [7]:
os.listdir()

['.anaconda',
 '.conda',
 '.condarc',
 '.continuum',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '.vscode',
 '01. Python Basics.ipynb',
 '02. Build- in Function.ipynb',
 '07. Dictionary and operations .ipynb',
 '08. Conditions-1.ipynb',
 '09. Conditions-2.ipynb',
 '10. Loops-1.ipynb',
 '11. Loop-2.ipynb',
 '12. Loop-3.ipynb',
 '13. File_handling.ipynb',
 'anaconda3',
 'anaconda_projects',
 'ANS.ipynb',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'Myfloder',
 'Myfloder1',
 'Myfloder2',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{01b1324d-b150-11ef-adb3-282e8968a495}.TM.blf',
 'NTUSER.DAT{01b1324d-b150-11ef-adb3-282e8968a495}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{01b1324d-b150-11ef-adb3-282e8968a495}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'output.txt',
 'Pictures',
 'piyush.txt',
 'PRACTICE MODE .ipynb',
 'PrintHood',
 'Python',
 'QUE & ANS.ipynb',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Test - 02.ipynb',
 'Untitled1.ipynb',
 'upper.txt',
 'Videos']

#### 44. Check the size of a file using os module.

In [10]:
filename = "piyush.txt"
size = os.path.getsize(filename)
print(f"File size of {filename} is: {size} bytes")

File size of piyush.txt is: 47 bytes

#### 45. Count all .txt files in a directory

In [11]:
files = os.listdir()
count = 0

for f in files:
    if f.endswith(".txt"):
        count += 1
result = {".txt files:",count}
print(result)

{'.txt files:', 3}

#### 1o.TRY - EXCEPTION (05 QUE)

#### 46. Write a program that takes user input and prints its square. Handle errors if input is invalid.

In [12]:
try:
    num = int(input("Enter a number: "))
    print("Square is:", num**2)
except ValueError:
    print("Invalid input! Please enter a number.")

Enter a number:  10

Square is: 100

#### 47. Handle ZeroDivisionError with an example program.

In [13]:
try:
    a = int(input("Enter numerator:"))
    b = int(input("Enter denominator:"))
    result = int(a / b)
    print("result:",result)
except ZeroDivisionError:
    print("Error! Cannot divide by zero")

Enter numerator: 0
Enter denominator: 0

Error! Cannot divide by zero

#### 48. Handle FileNotFoundError with an example program.

In [16]:
try:
    f = open("date.txt","r")
    print(f.read())
    f.close()
except FileNotFoundError:
    print("File not found?")

File not found?

#### 49. Handle both ValueError and TypeError with an example.

In [20]:
try:
    num = int(input("Enter a number:  "))
    result = num + "10"
    print(result)
except ValueError:
    print("ValueError: Please enter number only!")
except TypeError:
    print("TypeError:cannot add number and string together!")

Enter a number:   6.7

ValueError: Please enter number only!

#### 50. Write a program with finally block that opens and closes a file

In [21]:
try:
    file = open("piyush.txt","w")
    file.write("Hii ,Python!")
    print("File written successfully.")
except Exception as e:
    print("An error occurred:",e)

finally:
    file.close()
    print("File closed successfully.")

File written successfully.
File closed successfully.